
<div></div>
<!-- PARA USAR ngModel necesario importar FormsModule en app.module.ts -->
<!-- variable name declarada en contact-page.component.ts -->
<input [(ngModel)]="name"/>

{{name}}

<select [(ngModel)]="selectValue">
    <option value="seleciona valor">seleciona valor</option>
    <option value="Jose">Jose</option>
    <option value="Juna">Juan</option>
</select>

{{selectValue}};

<div></div>